.THIS 
{
   width: 100%;
   height: 100%;
}

.THIS body
{
    padding: 0;
    margin: 0;
}

.THIS #theContainer
{
 
}

.THIS #mapIFrame 
{
    width: 500px;
    height: 300px;
    border-style: solid;
    border-width: 2px;
    border-color: Black;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.THIS .actionMsg
{
    color: green;
}
.THIS .iFrameMsg
{
    color: red;
}